 <nav class="blue darken-2">
  <div class="nav-wrapper">
    <a href="#" class="brand-logo">ODMS</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="#" style="pointer-events: none;"><span ng-bind="user"></span></a>|</li>
      <li><a href="#!" class="waves-effect waves-blue" ng-click="logOut()"><i class="tiny material-icons right">input</i>Log Out</a></li>
    </ul>
  </div>
</nav>

<section class="container nav-panel">
  <div class="row">
    <div class="col l3">
      <a href="#/admin/manage_users" ng-show="isAdmin">
        <div class="card-panel hoverable red darken-4 waves-effect waves-block waves-light">
          <h6 class="white-text center-align">
            <i class="large material-icons">supervisor_account</i><br>
            Manage Users
          </h6>
        </div>
      </a>
    </div>
    <div class="col l3">
      <a href="#/admin/manage_members" ng-show="isAdmin">
        <div class="card-panel hoverable cyan darken-2 waves-effect waves-block waves-light">
          <h6 class="white-text center-align">
            <i class="large material-icons">folder_shared</i><br>
            Member Records
          </h6>
        </div>
      </a>
    </div>
    <div class="col l3">
      <a href="#/admin/order_documents" ng-show="isAdmin">
        <div class="card-panel hoverable orange darken-2 waves-effect waves-block waves-light">
          <h6 class="white-text center-align">
            <i class="large material-icons">description</i><br>
            Order Documents
          </h6>
        </div>
      </a>
    </div>
    <div class="col l3">
      <a href="#/admin/other_documents" ng-show="isAdmin">
        <div class="card-panel hoverable green darken-2 waves-effect waves-block waves-light">
          <h6 class="white-text center-align">
            <i class="large material-icons">insert_drive_file</i><br>
            Other Documents
          </h6>
        </div>
      </a>
    </div>
  </div>
</section>

