<div class="row login-card-holder">
	<div class="card">
		<div class="card-content">
			<div ng-if="error">
			 {{message}}
			</div>
			<div class="row">
      	<div class="input-field col s12">
          <input id="username" type="text" class="validate" ng-model="user.username">
          <label for="username">Username</label>
        </div>
			</div>
			<div class="row">
      	<div class="input-field col s12">
          <input id="password" type="password" class="validate" ng-model="user.password">
          <label for="password">Password</label>
        </div>
			</div>
			<div class="center-align">
				<button type="submit" class="btn btn-large waves-effect waves-light blue darken-1" ng-click="signIn(user.username, user.password)">Sign In</button>
			</div>
		</div>
	</div>
</div>
